$color-font : #333;
$color-background : color.adjust(#F3F0D7,$lightness: 8%);
$color-background--bright : color.adjust(#F3F0D7,$lightness : 10%);
$color-background--dark : #E0C097; 
$color-red : #FF7878;
$color-green : #CEE5D0; 